<div class="form-group row">
    <div class="col">
        <label for="cwProvincia">Provincia</label>
        <input type="text" ngModel name="cwProvincia" id="" class="form-control col-sm-6">
    </div>
    <div class="col">
        <label for="cwPoblacion">Poblacion</label>
        <input type="text" ngModel name="cwPoblacion" id="" class="form-control col-sm-6">
    </div>
    <div class="col">
        <label for="cwCalle">Calle</label>
        <input type="text" ngModel name="cwCalle" id="" class="form-control col-sm-6">
    </div>
</div>