<div id=comparator class="mx-auto">
  <h1>MY COWORKINGS SEARCHER</h1>
    <form>
        <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="First coworking">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Second coworking">
            </div>
          </div>
          <div id=button class="mx-center">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
      </form>
</div>


<form>
    
  </form>