<div id=comparator class="mx-auto">
  <h1>MY COWORKINGS SEARCHER</h1>
    <form>
        <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="First coworking">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Second coworking">
            </div>
          </div>
          <div id=button>
            <button type="submit" class="btn btn-primary">Comapre!</button>
          </div>
      </form>
</div>
<div class="mx-auto" id=custom>
  <h2>Which coworking fits most your requirements?</h2>
  <p>Discover which coworking best fits your requeriments in your city with a custom algorythm</p>
  <div id=button>
    <button type="submit" class="btn btn-primary">Discover it!</button>
  </div>
</div>