<div id=media>

    <img id=logo src="./../../../../assets/img/Logo2.png" alt="">

    <div id=social-media>
        <a href=""><img id=facebook class="media" src="./../../../../assets/img/whats.svg" alt=""></a>
        <a href=""><img id=instagram class="media" src="./../../../../assets/img/insta.svg" alt=""></a>
        <a href=""><img id=twitter class="media" src="./../../../../assets/img/linkedin.svg" alt=""></a>
        <a href=""><img id=twitter class="media" src="./../../../../assets/img/fb.svg" alt=""></a>
    </div>

</div>
