<div id=media class="color">

    <a [routerLink]="['home']"><img id=logo src="./../../../../assets/img/Logo_gris.png" alt=""></a>

    <div id=social-media>
        <a href=""><img id=facebook class="media" src="./../../../../assets/img/social-media/whats.svg" alt=""></a>
        <a href=""><img id=instagram class="media" src="./../../../../assets/img/social-media/insta.svg" alt=""></a>
        <a href=""><img id=twitter class="media" src="./../../../../assets/img/social-media/linkedin.svg" alt=""></a>
        <a href=""><img id=twitter class="media" src="./../../../../assets/img/social-media/fb.svg" alt=""></a>
    </div>

</div>
