#logo{
    height: 80px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#social-media{
    float: right;
    margin-top: 30px;
    margin-right: 5%;
}

.media{
    padding-left: 12px;
    display: inline-block;
}

.color{
    background-color: #ef5c4e;
    height: 8vh;
}