#logo{
    min-height: 37.5px;
    max-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#social-media{
    float: right;
    margin-top: 22.5px;
    margin-right: 5%;
}

.media{
    display: inline-block;
}

.color{
    background-color: #ef5c4e;
}

.font-color{
    color: white;
}

@media screen and (max-width: 8000px) {
    a {
        margin-right: 20px;
    }
}

@media screen and (max-width: 500px) {
    a {
        margin-right: 10px;
    }
}
