<div class="form-group row">
    <div class="col">
        <label for="cwTelefono">Telefono de contacto</label>
        <input type="text" ngModel name="cwTelefono" id="" class="form-control col-sm-3">
    </div>
    <div class="col">
        <label for="cwTelefono">Email</label>
        <input type="text" ngModel name="cwTelefono" id="" class="form-control col-sm-3">
    </div>
    <div class="col">
        <label for="cwTelefono">Web url</label>
        <input type="text" ngModel name="cwTelefono" id="" class="form-control col-sm-3">
    </div>
</div>
<div class="form-group row">
    <div class="col">
        <label for="cwFb">Facebook</label>
        <input type="text" ngModel name="cwFb" id="" class="form-control col-sm-6">
    </div>
    <div class="col">
        <label for="cwInsta">Instagram</label>
        <input type="text" ngModel name="cwInsta" id="" class="form-control col-sm-6">
    </div>
    <div class="col">
        <label for="cwTwitter">Twitter</label>
        <input type="text" ngModel name="cwTwitter" id="" class="form-control col-sm-6">
    </div>
    <div class="col">
        <label for="cwLdin">Linkedin</label>
        <input type="text" ngModel name="cwLdin" id="" class="form-control col-sm-6">
    </div>
</div>