<form>
    <h2>REGISTER COWORKING</h2>
    <div class="form-row">
        DESCRIPTION
    </div>
    <div class="form-row">
        <label>Name</label>
        <div class="col">
            <input type="text" id="cw-name" name="fname"><br>
        </div>
        <div class="col">
            <label>Description</label>
            <div class="col">
                <input type="text" id="cw-description" name="fname"><br>
            </div>
        </div>
    </div>
    <div class="form-row">
        <label>Opening date</label>
        <div class="col">
            <input type="date" id="opening-date" name="fname"><br>
        </div>
    </div>
    <div class="form-row">
        <label>Opening hour</label>
        <div class="col">
            <input type="time" id="opening-date" name="fname"><br>
        </div>
    </div>
    <div class="form-row">
        <label>Cose hour</label>
        <div class="col">
            <input type="time" id="opening-date" name="fname"><br>
        </div>
    </div>


    <div class="form-row">
        LOCATION
    </div>

    <button type="button" class="btn btn-primary">SEND</button>
</form>